html {
	height:100%;
	background-color: rgb(0, 0, 0);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
 
}

.topnav {
	background-color: rgb(240, 198, 12);
	overflow: hidden;
	position: sticky;
}

.topnav a{
	text-align: center;
	float: Left;
	color: #000000;
	padding: 14px 16px;
	font-size: 20px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topnav a:hover {
	background-color: rgb(255, 94, 0);
	color:black;
}

.topnav a:active{
	background-color:rgb(241, 245, 1);
	color:rgb(2, 0, 0);
}

h1 {
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size:35px;
	padding-top: 15px;
	font-family: fantasy;
	color:  rgb(219, 183, 19);
}


p {
	text-align: center;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 25px;
	font-family: fantasy;
	color: rgb(219, 183, 19);
}
